---
# defaults file for ansible-cloud-init

# Defines if cloud-init should be cleaned
cloud_init_clean: false

# Defines if cloud-init is configured
cloud_init_config: false

# Defines the cloud-init configuration which is converted to YAML via template
cloud_init_configuration:
  # Add groups to the system
  # The following example adds the ubuntu group with members 'root' and 'sys'
  # and the empty group cloud-users.
  groups:
    - cloud-users

  # A set of users which may be applied and/or used by various modules
  # when a 'default' entry is found it will reference the 'default_user'
  # from the distro configuration specified below
  users:
     - default
     - name:             user
       lock_passwd:      true
       gecos:            Ubuntu
       passwd: $6$WociuilSg$XL7hR6qo99a3rXgczmJXHaN7yWQBWM9dPaA6uMwZLUSbsMCJqEYZLR5JuirDROtFR6NlzeYoXUFZeS2nEXuWd0

       groups:
         - adm
         - audio
         - cdrom
         - dialout
         - dip
         - floppy
         - lxd
         - netdev
         - plugdev
         - sudo
         - video
       sudo:             "ALL=(ALL) NOPASSWD:ALL"
       shell:            /bin/bash
       ssh_authorized_keys: [ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCodE/I8vLzHxc8JNJnjTY4dbi/GG62wifbuWykZg94XGdUUOJTt81/SjWDqccjcdQDNs/LZn1KHuioUVyG4G/kgjS08xut99FzqOLT96jRuoh9wKYhIXbQcaqJK4w0P4FxZZ6ewlu4lsq8gLK5nzwYci0ylTqqX14XafI5mBdqCUXe9Sk6Hxhpim3aWzKSgwGdpwoDBIOg0G0RWrkDvZa1+EUg5W29DB6A1+DEJGSf7X9wEomGzI2Hry2BsbbthwTB//HA8vxHlCoXXF/ljXASdT/J/R1Qk6cBsfIEYmBtrmV9nHvmrWlQFGaq0QhvFKntEYmCHF9ul1HMtBgu9ylcb+woVPRQvuVXE3TdPCSvw5edALQAne40ly4o2GZLG3TPYBNGW2YW65OW7ljFkQGpgGZBSB9KL4TbHoUo3NQ8aY1rnmm5y2qZFQ109C9yXsiSt/mLqdAa+GhvQ8jEg88Xzl9O1sPaqq6PTBH/muHs65TtF2dPCgQi+v551Ncdvd0XWyiWl9wCyQ/t5qpSWoS32HW8Tnpf0kaKnAm7Xg9d8o3sqjKUHRbx1WFLSiINLXg3ansLaxGieUnWSayRbWn4UXQiM6Q70cmXdkYpal4g/pyVux04evB16ZbhGTnoGYczDaOruRgo6rnQbLNxa4aNWvIkfg/t3JE8YEd7SyZlCw== user@user-VirtualBox]

  # If this is set, 'root' will not be able to ssh in and they
  # will get a message to login instead as the default $user
  # disable_root:         true

  # This will cause the set+update hostname module to not operate (if true)
  # preserve_hostname:    false

  datasource_list:
    # - Azure
    # - CloudStack
    # - DigitalOcean
    # - Ec2
    # - MAAS
    - None
    # - OpenStack

  datasource:
    []
    # Ec2:
    #   metadata_urls:    [ 'blah.com' ]
    #   timeout:          5 # (defaults to 50 seconds)
    #   max_wait:         10 # (defaults to 120 seconds)
    # OpenStack:
    #   metadata_urls:    ["http://169.254.169.254"]
    #   max_wait:         -1
    #   timeout:          10
    #   retries:          5

  # The modules that run in the 'init' stage
  cloud_init_modules:
    - migrator
    - seed_random
    - bootcmd
    - write-files
    - growpart
    - resizefs
    - disk_setup
    - mounts
    - set_hostname
    - update_hostname
    - update_etc_hosts
    - ca-certs
    - rsyslog
    - users-groups
    - ssh

  # The modules that run in the 'config' stage
  cloud_config_modules:
    # Emit the cloud config ready event
    # this can be used by upstart jobs for 'start on cloud-config'.
    - emit_upstart
    - snap_config
    - ssh-import-id
    - locale
    - set-passwords
    - grub-dpkg
    - apt-pipelining
    - apt-configure
    - ntp
    - timezone
    - disable-ec2-metadata
    - runcmd
    - byobu

  # The modules that run in the 'final' stage
  cloud_final_modules:
    - snappy
    - package-update-upgrade-install
    - fan
    - landscape
    - lxd
    - puppet
    - chef
    - salt-minion
    - mcollective
    - rightscale_userdata
    - scripts-vendor
    - scripts-per-once
    - scripts-per-boot
    - scripts-per-instance
    - scripts-user
    - ssh-authkey-fingerprints
    - keys-to-console
    - phone-home
    - final-message
    - power-state-change

  # manage_etc_hosts:     false

  # manage_resolv_conf:   false

  packages:
    []
    # - build-essential
    # - python-minimal
    # - libffi-dev
    # - libssl-dev
    # - python-dev
    # - python-pip
    # - python-setuptools
  # resolv_conf:
  #   nameservers:
  #     - 8.8.4.4
  #     - 8.8.8.8
  #   searchdomains:
  #     - foo.example.com
  #     - bar.example.com
  #   domain:             example.com
  #   options:
  #     rotate:           true
  #     timeout:          1
