---
- name: Ensure Pip is installed.
  become: true
  #vars:
  #  - ansible_become_password: "{{ lookup('keepass', 'user', 'password') }}"
    # - ansible_become_user: user
  package:
    name: "{{ pip_package }}"
    state: present

- name: Ensure pip_install_packages are installed.
  pip:
    name: "{{ item.name | default(item) }}"
    version: "{{ item.version | default(omit) }}"
    virtualenv: "{{ item.virtualenv | default(omit) }}"
    state: "{{ item.state | default(omit) }}"
    executable: "{{ pip_executable }}"
  with_items: "{{ pip_install_packages }}"
