#testvar: "wort_groupvars_all"
ansible_user: "user"
ansible_become_pass: "{{ lookup('keepass', 'testserver', 'password') }}"

#User für die ssh session
#ansible_ssh_user: "user"
#ansible_ssh_pass: "hallowelt"

#Schaltet das checking aus und verbindet einfach auch wenn sich der key geändert hat
ansible_ssh_common_args: "'-o StrictHostKeyChecking=no'"


#KeePass password (ansible-vault encrypt_string <password>)
keepass_dbx: "./database_server.kdbx"
keepass_psw: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39383436353737303362643136623537323333343536616263346364633862653761303566343834
          3232633931323430376135373464393866346536396330610a663930646266643562613165363963
          66623330386430343362646238313161306437353366626231303165656662393234336639313531
          3937646131663738660a366631393566356431613665336535373833383033343362646161366265
          6239


#User:

users:
  - username: root
    password: "{{ lookup('keepass', 'pveroot_hash', 'password') }}" # mkpasswd --method=SHA-512 --stdin
    update_password: always
    groups: ssh, sudo
    ssh_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCodE/I8vLzHxc8JNJnjTY4dbi/GG62wifbuWykZg94XGdUUOJTt81/SjWDqccjcdQDNs/LZn1KHuioUVyG4G/kgjS08xut99FzqOLT96jRuoh9wKYhIXbQcaqJK4w0P4FxZZ6ewlu4lsq8gLK5nzwYci0ylTqqX14XafI5mBdqCUXe9Sk6Hxhpim3aWzKSgwGdpwoDBIOg0G0RWrkDvZa1+EUg5W29DB6A1+DEJGSf7X9wEomGzI2Hry2BsbbthwTB//HA8vxHlCoXXF/ljXASdT/J/R1Qk6cBsfIEYmBtrmV9nHvmrWlQFGaq0QhvFKntEYmCHF9ul1HMtBgu9ylcb+woVPRQvuVXE3TdPCSvw5edALQAne40ly4o2GZLG3TPYBNGW2YW65OW7ljFkQGpgGZBSB9KL4TbHoUo3NQ8aY1rnmm5y2qZFQ109C9yXsiSt/mLqdAa+GhvQ8jEg88Xzl9O1sPaqq6PTBH/muHs65TtF2dPCgQi+v551Ncdvd0XWyiWl9wCyQ/t5qpSWoS32HW8Tnpf0kaKnAm7Xg9d8o3sqjKUHRbx1WFLSiINLXg3ansLaxGieUnWSayRbWn4UXQiM6Q70cmXdkYpal4g/pyVux04evB16ZbhGTnoGYczDaOruRgo6rnQbLNxa4aNWvIkfg/t3JE8YEd7SyZlCw== user@user-VirtualBox
    exclusive_ssh_key: yes
    use_sudo: yes
    use_sudo_nopass: yes
    user_state: present
    servers:
      - proxmox

  - username: user
    password: "{{ lookup('keepass', 'user_hash', 'password') }}" # mkpasswd --method=SHA-512 --stdin
    update_password: always
    groups: ssh, sudo
    ssh_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCodE/I8vLzHxc8JNJnjTY4dbi/GG62wifbuWykZg94XGdUUOJTt81/SjWDqccjcdQDNs/LZn1KHuioUVyG4G/kgjS08xut99FzqOLT96jRuoh9wKYhIXbQcaqJK4w0P4FxZZ6ewlu4lsq8gLK5nzwYci0ylTqqX14XafI5mBdqCUXe9Sk6Hxhpim3aWzKSgwGdpwoDBIOg0G0RWrkDvZa1+EUg5W29DB6A1+DEJGSf7X9wEomGzI2Hry2BsbbthwTB//HA8vxHlCoXXF/ljXASdT/J/R1Qk6cBsfIEYmBtrmV9nHvmrWlQFGaq0QhvFKntEYmCHF9ul1HMtBgu9ylcb+woVPRQvuVXE3TdPCSvw5edALQAne40ly4o2GZLG3TPYBNGW2YW65OW7ljFkQGpgGZBSB9KL4TbHoUo3NQ8aY1rnmm5y2qZFQ109C9yXsiSt/mLqdAa+GhvQ8jEg88Xzl9O1sPaqq6PTBH/muHs65TtF2dPCgQi+v551Ncdvd0XWyiWl9wCyQ/t5qpSWoS32HW8Tnpf0kaKnAm7Xg9d8o3sqjKUHRbx1WFLSiINLXg3ansLaxGieUnWSayRbWn4UXQiM6Q70cmXdkYpal4g/pyVux04evB16ZbhGTnoGYczDaOruRgo6rnQbLNxa4aNWvIkfg/t3JE8YEd7SyZlCw== user@user-VirtualBox
    exclusive_ssh_key: yes
    use_sudo: yes
    use_sudo_nopass: yes
    user_state: present
    servers:
      - proxmox
      - ubuntu
# tmux
users_tmux:
  - username: user
    tmux_allow: true
    tmux_downloadpath: "https://raw.githubusercontent.com/DanielMueller1309/linux/master/Programme/tmux/.tmux.conf"
    tmux_conf_destination: "/home/daniel/.tmux.conf"
    tmux_bashrc_destination: "/home/daniel/.bashrc"
    tmux_standardsession_name: "default"
