# The top level settings are used as module
# and system configuration.

# A set of users which may be applied and/or used by various modules
# when a 'default' entry is found it will reference the 'default_user'
# from the distro configuration specified below
users:
   - user

# If this is set, 'root' will not be able to ssh in and they
# will get a message to login instead as the above $user (debian)
disable_root: true

# This will cause the set+update hostname module to not operate (if true)
preserve_hostname: false

# This preverts apt/sources.list to be updated at boot time, which
# may be annoying.
apt_preserve_sources_list: true

# Example datasource config
# datasource:
#    Ec2:
#      metadata_urls: [ 'blah.com' ]
#      timeout: 5 # (defaults to 50 seconds)
#      max_wait: 10 # (defaults to 120 seconds)

# The modules that run in the 'init' stage
cloud_init_modules:
 - migrator
 - seed_random
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - disk_setup
 - mounts
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - ca-certs
 - rsyslog
 - users-groups
 - ssh

# The modules that run in the 'config' stage
cloud_config_modules:
# Emit the cloud config ready event
# this can be used by upstart jobs for 'start on cloud-config'.
 - emit_upstart
 - ssh-import-id
 - locale
 - set-passwords
 - grub-dpkg
 - apt-pipelining
 - apt-configure
 - ntp
 - timezone
 - disable-ec2-metadata
 - runcmd
 - byobu

# The modules that run in the 'final' stage
cloud_final_modules:
 - package-update-upgrade-install
 - fan
 - puppet
 - chef
 - salt-minion
 - mcollective
 - rightscale_userdata
 - scripts-vendor
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message
 - power-state-change

# System and/or distro specific settings
# (not accessible to handlers/transforms)
system_info:
   # This will affect which distro class gets used
   distro: debian
   # Default user name + that default users groups (if added/used)
   default_user:
     name: user
     lock_passwd: True
     passwd: $6$5BnpxymdSwmy$Z00NbCniZTEncnJ5lgo.zvrCiLaN.AVS0oXw1tYzgTZmdRiLuNKk61fbfREXWYEdF0MWgkCd1Z8SKqOAxw2GD0
     gecos: Debian
     groups: [adm, audio, cdrom, dialout, dip, floppy, netdev, plugdev, sudo, video]
     sudo: ["ALL=(ALL) NOPASSWD:ALL"]
     shell: /bin/bash
     ssh_authorized_keys: [ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCodE/I8vLzHxc8JNJnjTY4dbi/GG62wifbuWykZg94XGdUUOJTt81/SjWDqccjcdQDNs/LZn1KHuioUVyG4G/kgjS08xut99FzqOLT96jRuoh9wKYhIXbQcaqJK4w0P4FxZZ6ewlu4lsq8gLK5nzwYci0ylTqqX14XafI5mBdqCUXe9Sk6Hxhpim3aWzKSgwGdpwoDBIOg0G0RWrkDvZa1+EUg5W29DB6A1+DEJGSf7X9wEomGzI2Hry2BsbbthwTB//HA8vxHlCoXXF/ljXASdT/J/R1Qk6cBsfIEYmBtrmV9nHvmrWlQFGaq0QhvFKntEYmCHF9ul1HMtBgu9ylcb+woVPRQvuVXE3TdPCSvw5edALQAne40ly4o2GZLG3TPYBNGW2YW65OW7ljFkQGpgGZBSB9KL4TbHoUo3NQ8aY1rnmm5y2qZFQ109C9yXsiSt/mLqdAa+GhvQ8jEg88Xzl9O1sPaqq6PTBH/muHs65TtF2dPCgQi+v551Ncdvd0XWyiWl9wCyQ/t5qpSWoS32HW8Tnpf0kaKnAm7Xg9d8o3sqjKUHRbx1WFLSiINLXg3ansLaxGieUnWSayRbWn4UXQiM6Q70cmXdkYpal4g/pyVux04evB16ZbhGTnoGYczDaOruRgo6rnQbLNxa4aNWvIkfg/t3JE8YEd7SyZlCw== user@user-VirtualBox]
   # Other config here will be given to the distro class and/or path classes
   paths:
      cloud_dir: /var/lib/cloud/
      templates_dir: /etc/cloud/templates/
      upstart_dir: /etc/init/
   package_mirrors:
     - arches: [default]
       failsafe:
         primary: http://deb.debian.org/debian
         security: http://security.debian.org/
   ssh_svcname: ssh


####################################################################
# helpfull:                                                        #
# https://cloudinit.readthedocs.io/en/latest/topics/examples.html  #
####################################################################
