---
  - name: Create empty VM using Cloud-Init
    community.general.proxmox_kvm:
      node: pve
      api_user: root@pam
      api_password: "{{ lookup('keepass', 'pveroot', 'password') }}"
      api_host: pve
      name: testvm-template
      scsihw: virtio-scsi-pci
      scsi:
       scsi0: 'local-lvm:1,format=raw'
      ide:
        ide2: 'local:cloudinit,format=qcow2'
      bootdisk: scsi0
      ciuser: user
      cipassword: hallowelt
# weitere möglichkeiten (später hinzufügen)
#    sshkeys: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILJkVm98B71lD5XHfihwcYHE9TVpsJmK1vR1JcaU82L+'
#    searchdomains: 'mydomain.internal'
#    nameservers:
#      - '1.1.1.1'
#      - '8.8.8.8'
      net:
        net0: 'virtio,bridge=vmbr0'
      ipconfig:
        ipconfig0: 'ip=192.168.56.230/24'


  - name: import init disk
    ansible.builtin.command: "qm importdisk 100 focal-server-cloudimg-amd64.img local-lvm"
    #when: disk noch nicht eingehangen
  - name: attache init disk
    ansible.builtin.command: "qm set 100 --scsihw virtio-scsi-pci --scsi0 local-lvm:vm-100-disk-1"
    #when: disk noch nicht eingehangen
