---
  #https://medium.com/@art.vasilyev/use-ubuntu-cloud-image-with-kvm-1f28c19f82f8



#  - name: install needed packages
#    ansible.builtin.apt:
#      pkg:
#        - qemu-kvm
#        - qemu-utils
#        - genisoimage
#        - virtinst

  - name: install packages
    #become: yes
    apt:
      name: "{{ cloud_init_packages }}"
      state: present


  - name: create base dir
    ansible.builtin.file:
      path: /var/lib/libvirt/images/base
      state: directory
      mode: '0777'

  - name: download cloud image to created directory
    get_url:
      url: https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img
      dest: /var/lib/libvirt/images/base/ubuntu-20.04.qcow2
  #- name: move downloaded file
  #  ansible.builtin.copy:
  #    src: /home/user/focal-server-cloudimg-amd64.img
  #    dest:  /var/lib/libvirt/images/base/ubuntu-20.04.qcow2
  #    owner: root
  #    group: root
  #    mode: '0777'

  - name: create dir
    ansible.builtin.file:
      path: /var/lib/libvirt/images/instance-1
      state: directory
      mode: '0777'
  - name: qemu-img create
    ansible.builtin.command:
      cmd: "qemu-img create -f qcow2 -o backing_file=/var/lib/libvirt/images/base/ubuntu-20.04.qcow2 /var/lib/libvirt/images/instance-1/instance-1.qcow2"
      creates: /var/lib/libvirt/images/instance-1/instance-1.qcow2
    register: userubuntu

  - name: qemu-img resize
    ansible.builtin.command:
      cmd: "qemu-img resize /var/lib/libvirt/images/instance-1/instance-1.qcow2 5G"
    when: userubuntu.changed

  - name: add metadata
    ansible.builtin.template:
      src: meta-data
      dest: /var/lib/libvirt/images/base
      owner: root
      group: root
      mode: '0777'

  - name: add userdata
    ansible.builtin.template:
      src: user-data
      dest: /var/lib/libvirt/images/base
      owner: root
      group: root
      mode: '0777'

  - name: create disks
    ansible.builtin.command:
      cmd: "genisoimage  -output /var/lib/libvirt/images/instance-1/instance-1-cidata.iso -volid cidata -joliet -rock /var/lib/libvirt/images/base/user-data /var/lib/libvirt/images/base/meta-data"
      creates: /var/lib/libvirt/images/instance-1/instance-1-cidata.iso
