---
  - name: download wireguard setup
    get_url:
    url: https://install.pivpn.io
    dest: /tmp/install.sh
    mode: '0440'
  - name: install wireguard
    ansible.builtin.command:
      cmd: /tmp/install.sh --unattended options.conf
  - name: create client wireguard config
    template:
      dest: /etc/wireguard/wg0.conf
      src: client_wg0.conf.j2
      owner: root
      group: root
      mode: '0600'
    notify: restart wireguard
